html,
body {
    background-color: #F1F7FF;
}

.draw,
.simulate {
    border: 1px solid #D0D0D0;
    display: inline-block;
    text-align: center;
    color: black;
    background-color: white;
    pointer-events: auto;
    -webkit-transition: background-color 0.5s ease-out;
    -webkit-transition: border 0.2s ease-out;
    border-radius: 6px;
}

.draw:hover,
.simulate:hover {
    color: gray;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.titles {
    color: #64bdff;
}

#plotRW,
#plotST {
    width: 600px;
    margin: 0 auto;
}

.container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.alabeltext,
.blabeltext {
    font-weight: bold;
    margin-bottom: 10px;
}

.one,
.two {
    width: 30%;
    text-align: center;
}

.draw {
    margin: 20px;
    padding: 10px;
}

.threest {
    margin-top: 20px;
    width: 50%;
    float: bottom;
    display: flex;
    justify-content: center;
    overflow: auto;
}

.simulate {
    padding: 10px;
    display: inline-block;
    margin: 5px;
}

g {
    height: 100%;
}