html, body {
    margin: 0;
    padding: 0;

	background-color: #F1F7FF;
}

#plotRW,  #plotST{
    width: 600px; 
    height: 400px;
}

.draw {
    border: 1px solid #D0D0D0;
    display: inline-block;
    padding: 0.6em 1em;
    margin: 2% 1%;
    color: black;
    background-color: white;
    pointer-events: auto;
    -webkit-transition: background-color 0.5s ease-out;
    -webkit-transition: border 0.2s ease-out;
    border-radius: 6px;
}

.draw:hover{
    color: gray;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.titles{
	color:#64bdff;
}
